In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
df=pd.read_csv("Air Conditioners.csv")

In [74]:
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [75]:
df.tail()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
715,Personal Air Conditioners Portable AC Mini Air...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/71RkCzQZyd...,https://www.amazon.in/Personal-Conditioners-Po...,NaN,NaN,"₹10,234","₹13,999"
716,Air Conditioner Fan Personal Desk Fan Space Ai...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/719ujjLfw7...,https://www.amazon.in/Conditioner-Personal-Eva...,NaN,NaN,NaN,"₹9,881"
717,"Portable Air Conditioners, Personal Air Condit...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/71l59r1G-J...,https://www.amazon.in/Portable-Conditioners-Pe...,NaN,NaN,NaN,"₹6,361"
718,"Portable Air Conditioner Fan, Personal Air Coo...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/61GXC1nOlS...,https://www.amazon.in/Portable-Conditioner-Per...,2.8,207,NaN,"₹7,671"
719,Air Choice Desktop Protable AC Cooler Fan For ...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/71yqMTaaWT...,https://www.amazon.in/Air-Choice-Desktop-Prota...,2.5,296,NaN,"₹8,592"

In [76]:
df.sample()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
110,"Carrier 1.5 Ton 3 Star Window AC (Copper, Estr...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/613OvbCF6m...,https://www.amazon.in/Carrier-Window-Copper-Es...,NaN,NaN,"₹35,100","₹43,090"

In [77]:
df.isna()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
715,False,False,False,False,False,True,True,False,False
716,False,False,False,False,False,True,True,True,False
717,False,False,False,False,False,True,True,True,False
718,False,False,False,False,False,False,False,True,False
719,False,False,False,False,False,False,False,True,False

In [78]:
df.isna().sum()

name                0
main_category       0
sub_category        0
image               0
link                0
ratings           287
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [79]:
df.nunique()

name              708
main_category       1
sub_category        1
image             635
link              720
ratings            31
no_of_ratings     187
discount_price    295
actual_price      296
dtype: int64

In [80]:
df=df.drop(["main_category","sub_category"],axis=1)

In [81]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [82]:
df.isna().sum()

name                0
image               0
link                0
ratings           287
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         433 non-null    object
 4   no_of_ratings   433 non-null    object
 5   discount_price  457 non-null    object
 6   actual_price    500 non-null    object
dtypes: object(7)
memory usage: 39.5+ KB

In [84]:
df["ratings"]=df["ratings"].fillna(0.0)

In [85]:
df.isna().sum()

name                0
image               0
link                0
ratings             0
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [86]:
df["no_of_ratings"]=df["no_of_ratings"].fillna("0")
df["discount_price"]=df["discount_price"].fillna("0.0")
df["actual_price"]=df["actual_price"].fillna("0.0")

In [87]:
df.isna().sum()

name              0
image             0
link              0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [88]:
df.loc[df["ratings"]=='Get',:]

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
437,Daikin 1.8 Ton 3 Star Inverter Split Ac (Coppe...,https://m.media-amazon.com/images/I/51hn7NHS3T...,https://www.amazon.in/Daikin-Inverter-Copper-F...,Get,Only 2 left in stock.,"₹59,979","₹72,900"
473,Master Electronic provides Window AC 3-Star 1....,https://m.media-amazon.com/images/I/41B0LWORAr...,https://www.amazon.in/Master-Electronic-provid...,Get,Only 1 left in stock.,"₹36,999","₹39,999"
474,Master Electronic provides 1.5 Ton 3 Star Dust...,https://m.media-amazon.com/images/I/61yVE5P7FU...,https://www.amazon.in/Master-Electronic-provid...,Get,Only 1 left in stock.,"₹36,999","₹39,666"
475,Master Electronics Provides 1 Ton 3 Star Inver...,https://m.media-amazon.com/images/I/11mMBc5fl2...,https://www.amazon.in/Master-Electronics-Provi...,Get,Only 1 left in stock.,"₹46,999","₹49,666"
488,"1.5 Ton 5 Star Inverter Split AC, White",https://m.media-amazon.com/images/I/11au-UO4sB...,https://www.amazon.in/1-5-Star-Inverter-Split-...,Get,Only 2 left in stock.,"₹45,000","₹50,000"
499,SUHANA snow falls Best 5 Star 1.5 Ton Air Cond...,https://m.media-amazon.com/images/I/31QQZehTYc...,https://www.amazon.in/SUHANA-snow-falls-Condit...,Get,Only 1 left in stock.,"₹40,000","₹55,956"
582,MEGACOOL CENTRE-Dakin 1.5 Ton 3 Star Fixed Spe...,https://m.media-amazon.com/images/I/21pJ7D2fWm...,https://www.amazon.in/MEGACOOL-CENTRE-Dakin-Fi...,Get,Only 1 left in stock.,"₹65,000","₹1,30,000"
595,Heavy Duty Air Conditioner Outdoor Ac stand,https://m.media-amazon.com/images/I/51mvmI9NjU...,https://www.amazon.in/Heavy-Duty-Conditioner-O...,Get,Only 2 left in stock.,₹899,"₹1,750"
639,Blue Star 1.5 Tr 3 Star Fixed Speed Split AC (...,https://m.media-amazon.com/images/I/31Tci462W1...,https://www.amazon.in/Blue-Star-Fixed-Copper-F...,Get,Only 1 left in stock.,"₹39,990","₹52,500"
643,Daikin 1.8 Ton 3 Star Inverter Split AC (Coppe...,https://m.media-amazon.com/images/I/61+ky9zVBZ...,https://www.amazon.in/Daikin-Inverter-Split-Co...,Get,Only 1 left in stock.,"₹54,590","₹72,900"

In [89]:
df.loc[df["ratings"]=='Get',"ratings"]="0.0"

In [90]:
df["actual_price"]=df["actual_price"].str.replace(",","")

In [91]:
df["discount_price"]=df["discount_price"].str.replace(",","")

In [92]:
df["no_of_ratings"]=df["no_of_ratings"].str.replace(",","")

In [93]:
df["discount_price"]=df["discount_price"].str.replace("₹","")

In [94]:
df["actual_price"]=df["actual_price"].str.replace("₹","")

In [95]:
df.loc[df["ratings"]=='Get',:]

Empty DataFrame
Columns: [name, image, link, ratings, no_of_ratings, discount_price, actual_price]
Index: []

In [96]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999,58990
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490,75990
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490,61990
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990,68990
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490,67790

In [97]:
df["ratings"]=df["ratings"].astype(float)
df["discount_price"]=df["discount_price"].astype(float)
df["actual_price"]=df["actual_price"].astype(float)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    float64
 4   no_of_ratings   720 non-null    object
 5   discount_price  720 non-null    float64
 6   actual_price    720 non-null    float64
dtypes: float64(3), object(4)
memory usage: 39.5+ KB

In [99]:
df["no_of_ratings"].unique()

array(['2255', '2948', '1206', '69', '630', '1666', '1097', '1494', '674',
       '801', '558', '730', '5073', '568', '3670', '312', '88', '432',
       '268', '2', '700', '540', '258', '2178', '0', '1444', '360', '38',
       '1208', '341', '3', '15', '925', '3604', '42', '22', '94', '1866',
       '292', '1830', '8', '536', '201', '2722', '202', '23', '1195', '5',
       '66', '474', '502', '686', '1183', '56', '1', '49', '212', '79',
       '468', '317', '45', '142', '451', '145', '265', '3157', '274',
       '39', '178', '655', '81', '43', '234', '134', '97', '229', '12',
       '748', '926', '62', '14', '440', '85', '260', '118', '172', '387',
       '195', '7', '158', '9', '10', '1295', '16', '303', '120', '55',
       '27', '34', '37', '1573', '29', '6', '112', '200', '11', '121',
       '886', '209', '4', '207', '622', '31', '192', '40', '101', '96',
       '70', '259', '1400', '288', '13', '51', '175', '114', '567', '187',
       '21', '1832', '563', '24', '769', '542', '297', '329', '20', '156',
       '26', '485', '9577', '302', '255', '1420', '169', '3562', '224',
       '25', '449', '218', '913', '373', '776', '60', '54', '19', '74',
       '17', '213', '430', '591', '247', '41', '222', '71', '290', '65',
       '18', '32', '130', '416', '64', '119', '59', '68', '36', '164',
       '77', '47', '98', 'Only 2 left in stock.', 'Only 1 left in stock.',
       '581', '398', '774', '232', '44', '50', '296'], dtype=object)

In [100]:
df.loc[df["no_of_ratings"]== 'Only 2 left in stock.',:]

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
437,Daikin 1.8 Ton 3 Star Inverter Split Ac (Coppe...,https://m.media-amazon.com/images/I/51hn7NHS3T...,https://www.amazon.in/Daikin-Inverter-Copper-F...,0.0,Only 2 left in stock.,59979.0,72900.0
488,"1.5 Ton 5 Star Inverter Split AC, White",https://m.media-amazon.com/images/I/11au-UO4sB...,https://www.amazon.in/1-5-Star-Inverter-Split-...,0.0,Only 2 left in stock.,45000.0,50000.0
595,Heavy Duty Air Conditioner Outdoor Ac stand,https://m.media-amazon.com/images/I/51mvmI9NjU...,https://www.amazon.in/Heavy-Duty-Conditioner-O...,0.0,Only 2 left in stock.,899.0,1750.0

In [101]:
df.loc[df["no_of_ratings"]== 'Only 1 left in stock.',:]

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
473,Master Electronic provides Window AC 3-Star 1....,https://m.media-amazon.com/images/I/41B0LWORAr...,https://www.amazon.in/Master-Electronic-provid...,0.0,Only 1 left in stock.,36999.0,39999.0
474,Master Electronic provides 1.5 Ton 3 Star Dust...,https://m.media-amazon.com/images/I/61yVE5P7FU...,https://www.amazon.in/Master-Electronic-provid...,0.0,Only 1 left in stock.,36999.0,39666.0
475,Master Electronics Provides 1 Ton 3 Star Inver...,https://m.media-amazon.com/images/I/11mMBc5fl2...,https://www.amazon.in/Master-Electronics-Provi...,0.0,Only 1 left in stock.,46999.0,49666.0
499,SUHANA snow falls Best 5 Star 1.5 Ton Air Cond...,https://m.media-amazon.com/images/I/31QQZehTYc...,https://www.amazon.in/SUHANA-snow-falls-Condit...,0.0,Only 1 left in stock.,40000.0,55956.0
582,MEGACOOL CENTRE-Dakin 1.5 Ton 3 Star Fixed Spe...,https://m.media-amazon.com/images/I/21pJ7D2fWm...,https://www.amazon.in/MEGACOOL-CENTRE-Dakin-Fi...,0.0,Only 1 left in stock.,65000.0,130000.0
639,Blue Star 1.5 Tr 3 Star Fixed Speed Split AC (...,https://m.media-amazon.com/images/I/31Tci462W1...,https://www.amazon.in/Blue-Star-Fixed-Copper-F...,0.0,Only 1 left in stock.,39990.0,52500.0
643,Daikin 1.8 Ton 3 Star Inverter Split AC (Coppe...,https://m.media-amazon.com/images/I/61+ky9zVBZ...,https://www.amazon.in/Daikin-Inverter-Split-Co...,0.0,Only 1 left in stock.,54590.0,72900.0

In [102]:
df.loc[df["no_of_ratings"]== 'Only 1 left in stock.',"no_of_ratings"]="0"
df.loc[df["no_of_ratings"]== 'Only 2 left in stock.',"no_of_ratings"]="0"

In [103]:
df["no_of_ratings"]=df["no_of_ratings"].astype(int)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    float64
 4   no_of_ratings   720 non-null    int64
 5   discount_price  720 non-null    float64
 6   actual_price    720 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 39.5+ KB

In [105]:
avg_no_of_ratings=df.loc[df["no_of_ratings"]!=0,"no_of_ratings"].mean()

In [106]:
avg_no_of_ratings

np.float64(245.22458628841608)

In [107]:
df.loc[df["no_of_ratings"]==0,"no_of_ratings"]=avg_no_of_ratings.astype(int)

In [108]:
df["no_of_ratings"].unique()

array([2255, 2948, 1206,   69,  630, 1666, 1097, 1494,  674,  801,  558,
        730, 5073,  568, 3670,  312,   88,  432,  268,    2,  700,  540,
        258, 2178,  245, 1444,  360,   38, 1208,  341,    3,   15,  925,
       3604,   42,   22,   94, 1866,  292, 1830,    8,  536,  201, 2722,
        202,   23, 1195,    5,   66,  474,  502,  686, 1183,   56,    1,
         49,  212,   79,  468,  317,   45,  142,  451,  145,  265, 3157,
        274,   39,  178,  655,   81,   43,  234,  134,   97,  229,   12,
        748,  926,   62,   14,  440,   85,  260,  118,  172,  387,  195,
          7,  158,    9,   10, 1295,   16,  303,  120,   55,   27,   34,
         37, 1573,   29,    6,  112,  200,   11,  121,  886,  209,    4,
        207,  622,   31,  192,   40,  101,   96,   70,  259, 1400,  288,
         13,   51,  175,  114,  567,  187,   21, 1832,  563,   24,  769,
        542,  297,  329,   20,  156,   26,  485, 9577,  302,  255, 1420,
        169, 3562,  224,   25,  449,  218,  913,  373,  776,   60,   54,
         19,   74,   17,  213,  430,  591,  247,   41,  222,   71,  290,
         65,   18,   32,  130,  416,   64,  119,   59,   68,   36,  164,
         77,   47,   98,  581,  398,  774,  232,   44,   50,  296])

In [109]:
avg_ratings=df.loc[df["ratings"]!=0.0,"ratings"].mean().round(1)
avg_ratings

np.float64(3.8)

In [110]:
df.loc[df["ratings"]==0.0,"ratings"]=avg_ratings

In [111]:
df["ratings"].unique()

array([4.2, 4. , 4.1, 4.3, 3.9, 3.8, 3.5, 4.6, 3.3, 3.4, 3.7, 2.9, 5. ,
       4.4, 3.6, 2.7, 4.5, 3. , 3.1, 3.2, 4.8, 4.7, 2.5, 1. , 2.6, 2.8,
       2.3, 1.7, 1.8, 2.4])

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    float64
 4   no_of_ratings   720 non-null    int64
 5   discount_price  720 non-null    float64
 6   actual_price    720 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 39.5+ KB

In [113]:
avg_discount_price=df.loc[df["discount_price"]!=0.0,"discount_price"].mean().round(1)
avg_discount_price

np.float64(40756.0)

In [114]:
df.loc[df["discount_price"]==0.0,"discount_price"]=avg_discount_price

In [115]:
df["discount_price"].unique()

array([ 32999.,  46490.,  34490.,  37990.,  31990.,  29999.,  39990.,
        30990.,  37999.,  32990.,  44990.,  45990.,  41999.,  35499.,
        34000.,  37490.,  29490.,  39499.,  35990.,  33490.,  42490.,
        27440.,  43599.,  36700.,  31999.,  32480.,  32490.,  37699.,
        29990.,  38990.,  27490.,  30490.,  38499.,  26490.,  34699.,
        37800.,  44477.,  28990.,  52990.,  32690.,  29950.,  36999.,
        48990.,  25690.,  42240.,  52090.,  46499.,  42990.,  30399.,
        34990.,  40618.,  49349.,  46000.,  27499.,  57379.,  29799.,
        52900.,  40756.,  25990.,  33950.,  36990.,  44490.,  53490.,
        35385.,  24990.,  27990.,  56990.,  66990.,  48000.,  33900.,
        26950.,  48567.,  43990.,  36490.,  33678.,  38890.,  43890.,
        28180.,  49990.,   2499.,  35750.,  54490.,  35100.,  31500.,
        25490.,  58890.,  52499.,  37290.,  47490.,  45790.,  63490.,
          647.,  51990.,    679.,  38390.,  31490.,  61000.,  40390.,
        33990.,  54990.,  40990.,  27999.,  46900.,  29900.,  44890.,
        37350.,  45490.,    599.,  53500.,  48490.,  34500.,  79350.,
        54900.,  43790.,  42930.,  37890.,  53990.,  35590.,   5999.,
        37199.,  62250.,  41580.,  64990.,  32000.,  69979.,  50300.,
        52979.,  44390.,  37690.,  34390.,   1219.,  57900.,  69990.,
        48900.,  38190.,  42890.,  58400.,  35550.,  48479.,  66790.,
        38340.,  52600.,  47770.,  38790.,  57990.,  77490.,  41990.,
        41750.,  40000.,    699.,   9999.,  77990.,  36420.,  61480.,
        45999.,  40800.,  45590.,  53775.,  56750.,  65990.,  29500.,
        39890.,  31950.,  39490.,  59990.,  66000.,  41490.,  33449.,
        51354.,  41890.,  49999.,  62800.,  82260.,  52300.,  38811.,
        28650.,  48300.,  42000.,  38400.,  41500.,  37260.,  74890.,
        54980.,  37900.,  66979.,  50490.,  40150.,  42999.,  39790.,
        38490.,  28000.,  40999.,  46035.,  35490.,  39000.,    199.,
        39500.,  39960.,  31290.,  42150.,  43003.,  35850.,  58990.,
        37500.,  48590.,  38900.,  34540.,  50570.,  42120.,  37600.,
        36775.,  39489.,  99750.,  42451.,  77890.,  34950.,  49150.,
        47890.,  34810.,  59815.,  53240.,  75900.,  52664.,  39190.,
       102800.,  47417.,  50990.,  50679.,  59979.,   2400.,  53842.,
        44748.,  33370.,  57897.,  42428.,  42900.,   2650.,  41000.,
        36189., 128800.,  56890.,  37400.,  36800.,  32200.,  46999.,
         1200.,  47990.,  45900.,  45000.,  30622.,  32400.,  35290.,
        34800.,  35000.,  34900.,  38999.,  43490.,  33999.,  56999.,
        44290.,  42322.,  42500.,  52500.,  57000.,  60500.,  65000.,
        59500.,   3950.,    899.,  30500.,  47000.,  41690.,  34495.,
        49590.,  54590.,  76890.,   4886.,   5350.,  64210.,   5998.,
        43000.,  87800.,  67900.,  28674.,   7008.,  35899.,  71990.,
        53914.,  42300.,  46990.,  42980.,    800.,   6954.,   8179.,
        15494.,  10234.])

In [116]:
avg_actual_price=df.loc[df["actual_price"]!=0.0,"actual_price"].mean().round(1)
avg_actual_price

np.float64(54815.2)

In [117]:
df.loc[df["actual_price"]==0.0,"actual_price"]=avg_actual_price

In [118]:
df["actual_price"].unique()

array([ 58990.  ,  75990.  ,  61990.  ,  68990.  ,  67790.  ,  70990.  ,
        49990.  ,  67990.  ,  58190.  ,  73990.  ,  48200.  ,  67200.  ,
        63400.  ,  78490.  ,  62000.  ,  60990.  ,  57990.  ,  54900.  ,
        42900.  ,  58400.  ,  62250.  ,  62990.  ,  71990.  ,  54600.  ,
        47990.  ,  72990.  ,  50990.  ,  46900.  ,  79990.  ,  57700.  ,
        70600.  ,  54990.  ,  55500.  ,  39000.  ,  33000.  ,  55400.  ,
        53990.  ,  55600.  ,  45090.  ,  47790.  ,  41500.  ,  91690.  ,
        51500.  ,  52900.  ,  56990.  ,  80890.  ,  43990.  ,  48100.  ,
        64200.  ,  64000.  ,  71900.  ,  85990.  ,  59400.  ,  39500.  ,
        44500.  ,  47100.  ,  49089.  ,  42190.  ,  69990.  ,  77990.  ,
        46990.  ,  93990.  ,  42990.  ,  54815.2 ,  49000.  ,  50600.  ,
        73000.  ,  83990.  ,  78990.  ,  56179.  ,  59700.  ,  30000.  ,
        29490.  ,  40900.  ,  77150.  ,  87900.  ,  71750.  ,  59990.  ,
        54590.  ,  35990.  ,  52990.  ,  73800.  ,  61400.  ,  66900.  ,
        55990.  ,  78200.  ,  30520.  ,  72900.  ,   2999.  ,  76900.  ,
        43090.  ,  37000.  ,  33990.  ,  84990.  ,  70290.  ,  44990.  ,
        71490.  ,  57490.  ,  89990.  ,   1500.  ,  69400.  ,   1249.  ,
        49300.  ,  44490.  ,  65990.  ,  46000.  ,  64990.  ,  70530.  ,
        43900.  ,   7250.  ,  45900.  ,  61600.  ,  43800.  ,  64400.  ,
        66990.  ,  79890.  ,    999.  ,  54740.  ,  68400.  ,  38990.  ,
        83000.  ,  75400.  ,  60900.  ,  52500.  ,  11999.  ,  49600.  ,
        63990.  ,  38090.  ,  83900.  ,  53900.  ,  86800.  ,  39090.  ,
        45990.  ,  92200.  ,  45000.  ,  57900.  ,  71200.  ,  62300.  ,
         1449.  ,  49470.  ,  55790.  ,  81990.  ,  65000.  ,  55598.  ,
        88990.  ,  31750.  ,  31490.  ,   8980.  ,   4969.  ,  89470.  ,
        65900.  ,  51990.  ,  44210.  ,   1499.  ,  17990.  ,  92990.  ,
        78000.  ,  76990.  ,  72490.  ,   5065.  ,   1349.  ,  55490.  ,
        74990.  ,  42100.  ,  49500.  ,  60991.  ,  48990.  ,  74740.  ,
        82990.  ,  56000.  ,  31000.  ,  72630.  ,  44400.  ,  85260.  ,
        58940.  ,  40990.  ,  54400.  ,  42490.  ,  98100.  ,  55900.  ,
        62490.  ,  60490.  ,  73900.  ,  76000.  ,  29999.  ,  47700.  ,
        37990.  ,   9435.  ,    499.  ,  53200.  ,   7727.  ,  38000.  ,
        36990.  ,  67000.  ,  56190.  ,  51390.  ,  38490.  ,  59900.  ,
       128900.  ,  58390.  ,  36000.  ,  80500.  ,  77900.  ,  53490.  ,
       120490.  ,  51750.  ,  64700.  ,  52700.  ,  63160.  ,   2950.  ,
        46500.  ,  34990.  ,  43730.  ,   1399.  ,  50900.  ,   3150.  ,
        37900.  , 149000.  ,  59500.  ,  44999.  ,  46520.  ,  39999.  ,
        39666.  ,  49666.  ,   1999.  ,  61490.  ,  50000.  ,  65500.  ,
        55956.  ,  41990.  ,  55090.  ,  49088.  ,  44250.  ,  89999.  ,
          649.  ,  46250.  ,  43599.  ,  42500.  ,  42999.  ,  60250.  ,
        61000.  ,  72500.  ,  75000.  ,  52000.  , 130000.  , 119000.  ,
         4500.  ,   1750.  ,  69600.  ,  46320.  ,  69000.  ,   4999.  ,
        53000.  ,   8898.  ,   9425.  ,   7999.  ,  55000.  ,   5491.  ,
         6182.  , 109800.  ,  68500.  ,  53950.  ,  51999.  ,  36674.  ,
        10019.  ,  41999.  ,  69500.  ,  50390.  ,  50690.  ,  49999.  ,
         2000.  ,  40000.  ,  13908.  ,   9403.  ,   6610.  ,  11545.62,
        10758.  ,   9499.  ,   8915.  ,  11658.  ,   4982.  ,   9927.  ,
         6202.  ,   4398.  ,   6036.  ,   4805.  ,   7013.  ,  30997.  ,
         6767.  ,  37347.  ,   6821.  ,   5224.  ,  13999.  ,   9881.  ,
         6361.  ,   7671.  ,   8592.  ])

In [119]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

In [120]:
df["brand_name"]=df["name"].str.split(" ").str[0]

In [121]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price,brand_name
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,Lloyd
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,LG
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,LG
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,LG
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,Carrier

In [122]:
df["ton"]=df["name"].str.split(" ").str[1]

In [123]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price,brand_name,ton
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,Lloyd,1.5
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,LG,1.5
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,LG,1
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,LG,1.5
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,Carrier,1.5

In [124]:
df["electricity_stars"]=df["name"].str.split(" ").str[3]

In [125]:
df.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price,brand_name,ton,electricity_stars
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,Lloyd,1.5,3
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,LG,1.5,5
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,LG,1,4
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,LG,1.5,3
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,Carrier,1.5,3

In [126]:
df["brand_name"].unique()

array(['Lloyd', 'LG', 'Carrier', 'Voltas', 'Daikin', 'Panasonic',
       'Whirlpool', 'Samsung', 'Godrej', 'Blue', 'IFB', 'Cruise',
       'AmazonBasics', 'Haier', 'Hitachi', 'Amazon', 'OGENERAL', 'Small',
       'ALLWIN', 'Hexzone', 'Candy', 'O-General', 'ONIDA', 'Portable',
       'AC', 'Ogeneral', 'MITSUBISHI', 'Nutricook', 'Hisense', 'ThreeH',
       'OGeneral', 'Mitsubishi', 'FANCISUN', 'BENBOAR', 'O', 'FIDEL',
       'smartmi', 'Ontel', 'Hexzone®', 'CARRIER', 'Window', 'Symphony',
       'Rechargeable', 'Equator', 'Midea', 'SPLIT', 'Supreme', 'TOSHIBA',
       'Kelvinator', 'DotOne', 'HITACHI', 'Vestar', 'DAIKIN', 'Comfee',
       'RISARYA', 'Personal', 'Havells-Lloyd', 'Onida', 'Livpure', 'TCL',
       'Voltas\xa0Venture\xa0i\xa0Cassette\xa03Ph\xa0Scroll\xa0SAC(C2-N)',
       'Electrolux', '1', 'Raptor', 'QAWACHH', 'CS/CU-KU12YKYF', 'VESTAR',
       'Master', '1.5', 'White', 'WINDOW', 'SUHANA', 'Vukar', 'Kwality',
       'LYLA', 'Concord', 'ARCTIC', 'Amstrad', 'iMee-1.5', 'Dee', 'Star',
       'Nexus', '5', 'Power', 'DPR', '2Tone', '2.0', 'VOLTAS', 'MEGACOOL',
       'Dot', 'Ton', 'SS', 'Heavy', 'RYOKU', 'Hyundai', 'INDcool', 'BMWB',
       'Belity', 'Solo,', 'OVPPH', 'Qinmay', 'Ximoon', 'Cellcronic',
       'Evapolar', 'ZAAHN', 'Toshiba', 'Oneiric', 'BlueStar', 'CNC',
       '7inch', '4', 'Air', 'DEMEYATH', '2022', 'YONCDIAT', 'N11', 'Mini',
       'ATWFS', 'Motorized', '3', 'Rail', 'Efast'], dtype=object)

In [127]:
df["ton"].unique()

array(['1.5', '1', '1.4', '1.0', 'Star', '2', '0.8', 'Split', '2.0',
       'Basics', 'SAC', 'SPLIT', 'AMGB09BAWA-B', 'Personal', '1.8',
       'TAFTA', 'Floor', 'Air', '1.25', 'Stand/Heavy', 'Frost', 'HEAVY',
       '2.02', 'USB', '2.2', 'AXGB18BAWA', 'Heavy', 'Wash', '1.51066',
       'Portable', 'Havells', 'general', 'Tafta', 'Adjustable', 'Venture',
       '1.6', 'Arctic', 'Emperia', '1.2', 'AC', 'Diet', '220V/950W',
       'ASGA24BMWA', 'DUAL', '183', 'Cool', 'General', 'ASGA18BMWA',
       'Estrella', 'RKM60TV16UC', '-', 'Convertible', 'FTHT50TV16',
       'H20R1203', 'ESTRELLA', 'Supreme', '18k', 'Super', '183V',
       'Durawhite', 'CPTB', '12K', 'AXGB24BAWA', 'All', '(3', 'Ton',
       '1.1', '3', 'ZUNOH', 'Panasonic', '3Ph', '24HY', 'WindFree',
       '1.5Ton', '1.0Ton', '1.Ton', 'Electronic', 'Electronics',
       'outdoor', 'PS-Q19ENYE', 'AI+', 'AI', 'Window', 'Westinghouse',
       'snow', '-15F.1-1S01-', '-10H.1-3S01-', '-10V.1-3S01-',
       '-10F.1-3S01-', 'Automatic', 'Snow', 'Car', 'AIR-CONDITIONER',
       'Shackle', 'A/C', 'NX2X', 'Traders', 'MAKK', '241', 'CENTRE-Dakin',
       'one', 'Inverter', 'Duty', '(Hitachi)', '18K', '24K', '36CZV',
       'ni', 'O', 'Copper', 'Evaporative', '1Ton', 'Bladeless', 'Mini',
       'Westing', 'SRK24CW-S6', 'Solar', 'EvaLIGHT', 'Ultra', 'Vertis',
       '50W', 'Speeds', 'Conditioner', 'New', 'Upgraded', 'Water',
       'Portablel', 'Electric', 'IN', 'Slide', 'Choice'], dtype=object)

In [128]:
df["electricity_stars"].unique()

array(['3', '5', '4', 'Ton', '2', '-', 'Ton,', '[Portable', 'Vectra',
       'AC', 'Conditioners', 'Quality', 'Stand', 'Air', '1.5', 'Inverter',
       'SRK25CSS-S6', 'Conditioner|2', 'Mini,', 'Tr', 'Silent',
       'Antibacterial', '1.6', 'Conditioner,Personal', 'Conditioner',
       'Duty', 'for', 'AC,', 'Tower', 'SRK13CRS', 'Freedom', 'Wifi',
       'Hot', 'Ac', '1', '22', 'Outdoor', 'Window', 'Conditioner|1.5',
       '2.0', '1.5T', '2.2', '18K', 'Rot.', 'FTKM60TV16UC', 'BEE',
       '1.0TR', 'USB', '1PCS', 'Conditioner|1', 'Xpand', 'Portable',
       'Star', 'Split', '1.5TR', '24K', 'CX', 'Cx', nan, 'Super', 'Motor',
       'SAC', 'and', '6-in-1,', 'ton', 'Best', 'Voltage', '1.0',
       'Generic', 'Conditioning', 'SR123SS', 'Ultra', 'Long', 'Savings',
       'APPLIANCES', 'Speed', 'TOWER', 'Size', 'Non-Inverter', 'Kashmir',
       '1.8TR', 'with', '2.0TON', '1.0Ton', '2.0Ton', 'Fan',
       'Conditioner,', 'Cooler', 'inverter', 'fan,', ':', 'condition',
       'EV-1500', 'Personal', 'Invertor', 'Duct', 'Kit,', 'IN', 'Fan,',
       'Rail', 'High', '6-IN-1', 'Protable'], dtype=object)

In [129]:
df["more_info"]=df["name"].str.split(" ").str[4:]

In [130]:
df.columns

Index(['name', 'image', 'link', 'ratings', 'no_of_ratings', 'discount_price',
       'actual_price', 'brand_name', 'ton', 'electricity_stars', 'more_info'],
      dtype='object')

In [131]:
df=df[['brand_name', 'ton', 'electricity_stars', 'ratings', 'no_of_ratings', 'discount_price',
       'actual_price', 'more_info', 'image', 'link']]

In [132]:
df.head()

,brand_name,ton,electricity_stars,ratings,no_of_ratings,discount_price,actual_price,more_info,image,link
0,Lloyd,1.5,3,4.2,2255,32999.0,58990.0,"[Star, Inverter, Split, Ac, (5, In, 1, Convert...",https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...
1,LG,1.5,5,4.2,2948,46490.0,75990.0,"[Star, AI, DUAL, Inverter, Split, AC, (Copper,...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...
2,LG,1,4,4.2,1206,34490.0,61990.0,"[Star, Ai, Dual, Inverter, Split, Ac, (Copper,...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...
3,LG,1.5,3,4.0,69,37990.0,68990.0,"[Star, AI, DUAL, Inverter, Split, AC, (Copper,...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...
4,Carrier,1.5,3,4.1,630,34490.0,67790.0,"[Star, Inverter, Split, AC, (Copper,ESTER, Dxi...",https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...

In [133]:
df["link"][0]

'https://www.amazon.in/Lloyd-Inverter-Convertible-Anti-Viral-GLS18I3FWAMC/dp/B0BRKXTSBT/ref=sr_1_4?qid=1679134237&s=kitchen&sr=1-4'

In [134]:
df.to_csv("cleaned_ac_data.csv")