In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("cleaning_ex3.csv")

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,company_age,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,27,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),52,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),39,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),20,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,22,na

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  company_age        660 non-null    int64
 13  seniority          660 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 72.3+ KB

In [6]:
df["Size"].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [21]:
df.loc[df["Size"]=="-1","Size"]="0 to 0 employees"

In [22]:
df.loc[df["Size"]=="Unknown","Size"]="0 to 0 employees"

In [23]:
df.loc[df["Size"]=="10000+ employees","Size"]="10000 to 10000+ employees"

In [24]:
df["Size"].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees',
       '10000 to 10000+ employees', '201 to 500 employees',
       '1 to 50 employees', '0 to 0 employees'], dtype=object)

In [25]:
df["min_employees"]=df["Size"].str.split(" ").str[0]

In [27]:
df[["Company Name","min_employees"]]

             Company Name min_employees
0             Healthfirst          1001
1                 ManTech          5001
2          Analysis Group          1001
3                 INFICON           501
4      Affinity Solutions            51
..                    ...           ...
655              TRANZACT          1001
656                  JKGT             0
657            AccessHope             0
658  ChaTeck Incorporated             1
659         1-800-Flowers          1001

[660 rows x 2 columns]

In [28]:
df["Company Name"].nunique()

425

In [30]:
df["Revenue"].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)', '-1',
       'Less than $1 million (USD)'], dtype=object)

In [31]:
df.loc[df["Revenue"]=="Unknown / Non-Applicable","Revenue"]="$1 million (USD)"

In [32]:
df.loc[df["Revenue"]=="-1","Revenue"]="$1 million (USD)"

In [33]:
df["Revenue"].unique()

array(['$1 million (USD)', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)'], dtype=object)

In [34]:
df["Salary Estimate"].unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

In [35]:
df["min_salary"]=df["Salary Estimate"].str.replace(" ","").str.split("-").str[0]

In [36]:
df["max_salary"]=df["Salary Estimate"].str.replace(" ","").str.split("-").str[1]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  company_age        660 non-null    int64
 13  seniority          660 non-null    object
 14  min_employees      660 non-null    object
 15  min_salary         660 non-null    object
 16  max_salary         660 non-null    object
dtypes: float64(1), int64(1), object(15)
memory usage: 87.8+ KB

In [41]:
df["max_salary"]=df["max_salary"].astype(int)

In [42]:
df["min_salary"]=df["min_salary"].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  company_age        660 non-null    int64
 13  seniority          660 non-null    object
 14  min_employees      660 non-null    object
 15  min_salary         660 non-null    int64
 16  max_salary         660 non-null    int64
 17  avg_salary         660 non-null    float64
dtypes: float64(2), int64(3), object(13)
memory usage: 92.9+ KB

In [48]:
df["avg_salary"]=(df["min_salary"]+df["max_salary"])/2

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  company_age        660 non-null    int64
 13  seniority          660 non-null    object
 14  min_employees      660 non-null    object
 15  min_salary         660 non-null    int64
 16  max_salary         660 non-null    int64
 17  avg_salary         660 non-null    float64
dtypes: float64(2), int64(3), object(13)
memory usage: 92.9+ KB

In [50]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,company_age,seniority,min_employees,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,$1 million (USD),27,senior,1001,137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),52,na,5001,137,171,154.0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),39,na,1001,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),20,na,501,137,171,154.0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$1 million (USD),22,na,51,137,171,154.0

In [51]:
df[['Company Name','min_salary',	'max_salary',	'avg_salary']]

             Company Name  min_salary  max_salary  avg_salary
0             Healthfirst         137         171       154.0
1                 ManTech         137         171       154.0
2          Analysis Group         137         171       154.0
3                 INFICON         137         171       154.0
4      Affinity Solutions         137         171       154.0
..                    ...         ...         ...         ...
655              TRANZACT         105         167       136.0
656                  JKGT         105         167       136.0
657            AccessHope         105         167       136.0
658  ChaTeck Incorporated         105         167       136.0
659         1-800-Flowers         105         167       136.0

[660 rows x 4 columns]

In [52]:
df["Location"].unique()

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA', 'Saint Louis, MO',
       'Richland, WA', 'Northbrook, IL', 'Washington, DC', 'Memphis, TN',
       'Plano, TX', 'West Grove, PA', 'Phoenix, AZ', 'Appleton, WI',
       'Atlanta, GA', 'Orlando, FL', 'Lexington, MA', 'McLean, VA',
       'San Francisco, CA', 'Sheboygan, WI', 'United States',
       'Bothell, WA', 'Lincoln, NE', 'Overland Park, KS',
       'Santa Monica, CA', 'Portsmouth, NH', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Bellevue, WA',
       'New Orleans, LA', 'Akron, OH', 'Fort Wayne, IN', 'Woburn, MA',
       'Carson, CA', 'Coral Gables, FL', 'Santa Clara, CA',
       'Brisbane, CA', 'Winter Park, FL', 'Redwood City, CA',
       'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Emeryville, CA',
       'Gaithersburg, MD', 'Longmont, CO', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Springfield, VA', 'Alexandria, VA',
       'Reston, VA', 'Denver, CO', 'Aurora, CO', 'Hill AFB, UT',
       'Chandler, AZ', 'Indianapolis, IN', 'Nashville, TN',
       'Timonium, MD', 'Burlingame, CA', 'Annapolis Junction, MD',
       'Bethesda, MD', 'Dayton, OH', 'Schaumburg, IL', 'Cupertino, CA',
       'Lehi, UT', 'Culver City, CA', 'Lake Oswego, OR', 'San Mateo, CA',
       'Holyoke, MA', 'Woodbridge, NJ', 'Dearborn, MI',
       'Maryland Heights, MO', 'Rockville, MD', 'Carpinteria, CA',
       'Columbia, SC', 'Hauppauge, NY', 'Fort Meade, MD', 'Columbia, MO',
       'Vicksburg, MS', 'Birmingham, AL', 'Blue Bell, PA',
       'Cincinnati, OH', 'Harrisburg, PA', 'Oak Ridge, TN',
       'San Carlos, CA', 'Waltham, MA', 'Fort Worth, TX',
       'Smithfield, RI', 'Cedar Rapids, IA', 'Fort Belvoir, VA',
       'Linthicum Heights, MD', 'Maple Plain, MN', 'Tulsa, OK',
       'Baltimore, MD', 'Oklahoma City, OK', 'Scotts Valley, CA',
       'Spartanburg, SC', 'Hartford, CT', 'Beavercreek, OH',
       'Norfolk, VA', 'Charlotte, NC', 'Champaign, IL', 'Hoboken, NJ',
       'Lebanon, IN', 'Oakland, CA', 'Melbourne, FL', 'Cleveland, OH',
       'Norwell, MA', 'San Jose, CA', 'Piscataway, NJ', 'Danvers, MA',
       'Vienna, VA', 'Livermore, CA', 'Pittsburgh, PA', 'Irvine, CA',
       'Oshkosh, WI', 'Menlo Park, CA', 'Dallas, TX', 'Arlington, VA',
       'Monroe, WI', 'Sacramento, CA', 'Hampton, VA', 'Richmond, VA',
       'Monterey, CA', 'Woodlawn, MD', 'Ann Arbor, MI', 'Concord, CA',
       'Durham, NC', 'Kent, OH', 'Laurel, MD', 'Columbia, MD',
       'Falls Church, VA', 'Thousand Oaks, CA', 'Edison, NJ',
       'Adelphi, MD', 'Seattle, WA', 'Sunnyvale, CA', 'Fremont, CA',
       'Hamilton, NJ', 'Huntsville, AL', 'Merrifield, VA', 'Madison, WI',
       'Philadelphia, PA', 'Winston-Salem, NC', 'Raleigh, NC',
       'Burbank, CA', 'San Ramon, CA', 'Oxnard, CA', 'Kansas City, MO',
       'Jersey City, NJ', 'Manchester, NH', 'Winters, TX', 'Brooklyn, NY',
       'Germantown, MD', 'Omaha, NE', 'Open Fork, VA', 'Ashburn, VA',
       'Lombard, IL', 'Alpharetta, GA', 'Boulder, CO',
       'Mountain View, CA', 'Trumbull, CT', 'Sterling, VA',
       'Foster City, CA', 'Frederick, MD', 'Colorado Springs, CO',
       'Southfield, MI', 'San Clemente, CA', 'The Woodlands, TX',
       'Pleasanton, CA', 'Wilmington, DE', 'Fort Sam Houston, TX',
       'Lexington Park, MD', 'Patuxent, Anne Arundel, MD', 'Fairfax, VA',
       'San Antonio, TX', 'Silver Spring, MD', 'Portland, OR',
       'Simi Valley, CA', 'New Bedford, MA', 'Rancho Cucamonga, CA',
       'Collegeville, PA', 'Minneapolis, MN', 'Gahanna, OH',
       'Wellesley, MA', 'Washington, VA', 'Orange, CA', 'Bridgeport, WV',
       'Oakville, CA', 'Naperville, IL', 'Houston, TX', 'Redmond, WA',
       'West Chester, PA', 'Quantico, VA', 'Fort Lee, NJ',
       'Irwindale, CA'], dtype=object)

In [55]:
df["province_loc"]=df["Location"].str.replace(" ","").str.split(",").str[-1]

In [56]:
df["state_loc"]=df["Location"].str.replace(" ","").str.split(",").str[0]

In [57]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,company_age,seniority,min_employees,min_salary,max_salary,avg_salary,province_loc,state_loc
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,$1 million (USD),27,senior,1001,137,171,154.0,NY,NewYork
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),52,na,5001,137,171,154.0,VA,Chantilly
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),39,na,1001,137,171,154.0,MA,Boston
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),20,na,501,137,171,154.0,MA,Newton
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$1 million (USD),22,na,51,137,171,154.0,NY,NewYork

In [58]:
df["Headquarters"].unique()

array(['New York, NY', 'Herndon, VA', 'Boston, MA',
       'Bad Ragaz, Switzerland', 'Santa Barbara, CA',
       'Basel, Switzerland', 'Bedford, MA', 'Mountain View, CA',
       'Chicago, IL', 'Mc Lean, VA', 'Saint Louis, MO', 'Richland, WA',
       'Northbrook, IL', 'Princeton, NJ', 'Mays Landing, NJ',
       'Memphis, TN', 'Tempe, AZ', 'Reading, PA', 'San Francisco, CA',
       'Menlo Park, CA', 'Atlanta, GA', 'Orlando, FL', 'Lexington, MA',
       'Falls Church, VA', 'Sheboygan, WI', 'Seattle, WA', 'Bellevue, WA',
       'Lincoln, NE', 'Chantilly, VA', 'Santa Monica, CA', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Singapore, Singapore',
       'Cambridge, MA', 'OSAKA, Japan', 'Santa Clara, CA',
       'New Orleans, LA', 'Akron, OH', 'Zurich, Switzerland',
       'Woburn, MA', 'Carson, CA', 'Coral Gables, FL', 'San Ramon, CA',
       'Brisbane, CA', 'Winter Park, FL', 'San Rafael, CA',
       'Deerfield, IL', 'Ipswich, MA', 'Carmel, IN', 'Chevy Chase, MD',
       'Hartford, CT', 'Emeryville, CA', 'Cambridge, United Kingdom',
       'Rockville, MD', 'Minneapolis, MN', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Reston, VA', 'Denver, CO', 'Washington, DC',
       'Aurora, CO', 'San Mateo, CA', 'Goleta, CA', 'Franklin, TN',
       'Indianapolis, IN', 'Lutherville Timonium, MD', 'Westminster, CO',
       'Burlingame, CA', 'Annapolis Junction, MD', 'Bethesda, MD',
       'Beavercreek, OH', 'Schaumburg, IL', 'Sunnyvale, CA', 'Lehi, UT',
       'Lake Oswego, OR', 'Holyoke, MA', 'Dulles, VA', 'San Diego, CA',
       'Detroit, MI', 'Stamford, CT', 'Carpinteria, CA', 'Columbia, SC',
       '-1', "Marcy-l'Etoile, France", 'Columbia, MO', 'Fairfax, VA',
       'Chandler, AZ', 'Aurora, Canada', 'Blue Bell, PA', 'Troy, MI',
       'Redwood City, CA', 'Greenville, SC', 'Arlington, VA',
       'Harrisburg, PA', 'Hamilton, Bermuda', 'Lynchburg, VA',
       'Springfield, MA', 'San Carlos, CA', 'Waltham, MA', 'San Jose, CA',
       'Jersey City, NJ', 'Fort Worth, TX', 'Cedar Rapids, IA',
       'McLean, VA', 'Lorton, VA', 'Maple Plain, MN', 'Kent, WA',
       'Woodbine, MD', 'San Antonio, TX', 'Scotts Valley, CA',
       'Spartanburg, SC', 'Woodbridge, NJ', 'Chennai, India',
       'Tel Aviv-Yafo, Israel', 'Baltimore, MD', 'Manalapan, NJ',
       'Charlotte, NC', 'Saxonburg, PA', 'Bristol, PA',
       'Bangalore, India', 'Hoboken, NJ', 'Paris, France',
       'Greenwich, CT', 'Santa Ana, CA', 'Houston, TX', 'Tucson, AZ',
       'Birmingham, AL', 'Cleveland, OH', 'Pleasanton, CA',
       'Columbus, OH', 'Piscataway, NJ', 'Danvers, MA',
       'Philadelphia, PA', 'Livermore, CA', 'Pittsburgh, PA',
       'Dallas, TX', 'Toronto, Canada', 'Irvine, CA', 'Hillsborough, NJ',
       'Oshkosh, WI', 'Fremont, CA', 'Monroe, WI', 'Goteborg, Sweden',
       'Lake Buena Vista, FL', 'Schaffhausen, Switzerland',
       'Richmond, VA', 'Newark, CA', 'Greensboro, NC', 'Scottsdale, AZ',
       'Irving, TX', 'Beltsville, MD', 'Naperville, IL',
       'Brentford, United Kingdom', 'Cincinnati, OH', 'Somerset, NJ',
       'London, United Kingdom', 'Raleigh, NC', 'Leesburg, VA',
       'Durham, NC', 'Kent, OH', 'Westlake Village, CA',
       'North Brunswick, NJ', 'Benicia, CA', 'Laurel, MD', 'Columbia, MD',
       'Vienna, VA', 'Danville, CA', 'Wilmington, MA', 'New York, 061',
       'Reading, MA', 'Folsom, CA', 'Wilsonville, OR', 'Huntsville, AL',
       'Madison, WI', 'Phila, PA', 'Winston-Salem, NC',
       'Half Moon Bay, CA', 'Los Angeles, CA', 'Hilliard, OH',
       'Hanover, MD', 'Kansas City, MO', 'Bengaluru, India',
       'Alpharetta, GA', 'Germantown, MD', 'Omaha, NE',
       'Clifton Park, NY', 'Livonia, MI', 'Ashburn, VA', 'Nashville, TN',
       'Alexandria, VA', 'Edison, NJ', 'Ventura, CA', 'Armonk, NY',
       'Trumbull, CT', 'Chadds Ford, PA', 'Saint Paul, MN',
       'Glen Allen, VA', 'Aliso Viejo, CA', 'Plainsboro, NJ',
       'Fairmont, WV', 'Cherry Hill, NJ', 'Itasca, IL',
       'Coconut Creek, FL', 'Lombard, IL', 'Honolulu, HI',
       'Carle Place, NY', 'Cupertino, CA', 'Tampa, FL', 'Totowa, NJ',
       'Rome, NY', 'Milan, IL', 'Marbella, Spain', 'Simi Valley, CA',
       'Rancho Cucamonga, CA', 'Albuquerque, NM', 'Langley, VA',
       'Plano, TX', 'Albertville, AL', 'Orange, CA', 'Littleton, CO',
       'Oakville, Canada', 'San Bruno, CA', 'West Chester, PA',
       'Utica, MI', 'Fort Lee, NJ'], dtype=object)

In [60]:
df.loc[df['Headquarters']=="-1","Headquarters"]=df["Location"]

In [61]:
df["province_hq"]=df["Headquarters"].str.replace(" ","").str.split(",").str[-1]

In [62]:
df["state_hq"]=df["Headquarters"].str.replace(" ","").str.split(",").str[0]

In [63]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,seniority,min_employees,min_salary,max_salary,avg_salary,province_loc,state_loc,province_hq,state_hq
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,senior,1001,137,171,154.0,NY,NewYork,NY,NewYork
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,na,5001,137,171,154.0,VA,Chantilly,VA,Herndon
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,na,1001,137,171,154.0,MA,Boston,MA,Boston
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,na,501,137,171,154.0,MA,Newton,Switzerland,BadRagaz
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,na,51,137,171,154.0,NY,NewYork,NY,NewYork

In [65]:
pd.set_option("display.max_columns",None)

In [66]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,company_age,seniority,min_employees,min_salary,max_salary,avg_salary,province_loc,state_loc,province_hq,state_hq
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,$1 million (USD),27,senior,1001,137,171,154.0,NY,NewYork,NY,NewYork
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),52,na,5001,137,171,154.0,VA,Chantilly,VA,Herndon
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),39,na,1001,137,171,154.0,MA,Boston,MA,Boston
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),20,na,501,137,171,154.0,MA,Newton,Switzerland,BadRagaz
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$1 million (USD),22,na,51,137,171,154.0,NY,NewYork,NY,NewYork